html,body {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
    background-color:black;
}

/* header */
header > nav.navbar-dark > span.navbar-text {
    color: gainsboro;
    padding:0;
    font-size:15px;
}

header > nav.navbar-light {
    padding:0px 20px 0px 60px;
}

header > nav.navbar-light > .navbar-brand {
    margin:0;
}

header > nav.navbar-light > .navbar-brand > img.logo {
    width:140px;
    padding-left: 20px;
}

header > nav > button {
    margin-right: 10px;
}

header > nav.navbar-light > div.navbar-collapse > div.navbar-nav > a.a {
    padding:0 100px 0 10px;
    font-size:17px;
    font-family: 'Carrois Gothic SC';
}

header > nav.navbar-light > div.navbar-collapse > div.navbar-nav > div.dropdown > a.a {
    padding:0 100px 0 10px;
    font-size:17px;
    font-family: 'Carrois Gothic SC';
}

header > nav.navbar-light > div.navbar-collapse > div.navbar-nav > a.b {
    padding:0 80px 0 10px;
    font-size:17px;
    font-family: 'Carrois Gothic SC';
}

/* page content */

div.page-content {
    background-color:black;
}

div.page-content > div.container {
    margin:15px 0 15px 0;
}

div.page-content > div.container > div.columns {
    padding:10px;
    height:900px;
}

div.page-content > div.container > div.column1 {
    background-color:rgb(255, 172, 172);
    height:fit-content;
    height:100%;
}

div.page-content > div.container > div.column2 {
    background-color:rgb(248, 233, 164);
    height:fit-content;
    height:100%;
}

div.page-content > div.container >  div.column3 {
    background-color:rgb(188, 253, 223);
    height:fit-content;
    height:100%;
}

/* row1 */
div.page-content > div.container1 > div.column1 {
    padding-top:60px;
}
div.page-content > div.container1 > div.column1 > div.card > img.card-img-top {
    margin:10px 0 10px 0;
}

div.page-content > div.container1 > div.column1 > div.card {
    margin:15px 0 30px 0;
}

/* row2 */

div.page-content > div.container2 > div.column2 {
    padding:20px 15px 20px 15px;
}

div.page-content > div.container2 > div.column2 > div.collapsible {
    background-color:white;
    padding:10px;
    margin:3px;
}

div.page-content > div.container2 > div.column2 > div.collapsible > div.questions {
    margin-top:10px;
    margin-bottom:15px;
}

div.page-content > div.container2 > div.column2 > div.collapsible > div.questions > a.btn {
    margin:10px;
}

div.page-content > div.container2 > div.column2 > div.collapsible > div.questions > div.collapse {
    margin:10px;
}

/* row 3 */
div.page-content > div.container3 > div.column3 {
    padding:20px 15px 20px 15px;
}

div.page-content > div.container3 > div.column3 > div.card {
    margin:40px 0 20px 0;
}


/* footer */
div.footer > div.bg-light {
    padding:0;
}

div.footer > div.bg-light > .container > .navbar-brand {
    margin:0;
}

div.footer > div.bg-light > div.footer1 > a {
    font-family: 'Carrois Gothic SC';
    color:rgb(153, 153, 153);
    text-align: center;
}

div.footer1 > a:hover {
    background-color: black;
}

div.footer > div.bg-light > div.container > a > img.logo {
    width:5.5em;
    margin-left: 1.25em;
}

div.footer > div.bg-black > .text > p {
    margin-bottom:0px;
    font-size: smaller;
}

div.footer > div.bg-black {
    background-color: black;
    margin:0;
} 